:root {
  --main-color: #fffcf5;
  --secondary-color: #e8d8c9;
  --header-color: #d4cdbb;
  --field-default-border: 1px solid #7e96a7;
}

.button--add-to-cart {
  background-color: var(--header-color);
  border-color: var(--header-color);
  border-radius: var(--bs-border-radius);
  width: 72%;
}

input[value='Add to cart'],
input[value='Out of stock'] {
  padding-inline-start: 22.8%;
}

.button--add-to-cart:hover {
  background-color: var(--secondary-color);
  border-color: var(--header-color);
}

.form-select {
  width: 72%;
  border: var(--field-default-border);
}

@media (min-width: 600px) {
  .form-number {
    width: 72%;
  }
}

@media (min-width: 768px) {
  .form-number {
    width: 72%;
  }
}

@media (min-width: 1024px) {
  .form-number {
    width: 72%;
  }
}

@media (min-width: 1280px) {
  input[value='Add to cart'] {
    padding-left: 22.8%;
  }
}

.form-select:focus {
  border: solid var(--header-color);
  outline: 0;
  box-shadow: none;
}

[type='number'] {
  border-radius: var(--bs-border-radius);
}

[type='number']:focus {
  border: solid var(--header-color);
  outline: none;
}

.button--add-to-cart:focus {
  outline: solid 2px var(--header-color);
  background-color: var(--secondary-color);
  border-color: var(--header-color);
}
