web/modules/custom/data_migrations/**/*
web/modules/contrib/
**/gulpfile.js
**/*.min.js

# Ignore compiled files.
*.es6.js
web/libraries/*

web/modules/custom/crown_reports/js/crown_reports.js
web/modules/custom/crown_assessment/js/sweet_alert.js
web/modules/custom/conbiz_themer/*
web/modules/custom/gavias_pagebuilder/*
web/modules/custom/gavias_sliderlayer/*
web/modules/custom/gavias_view/*
web/modules/custom/gaviasthemer/*
web/themes/custom/conbiz/*
web/modules/custom/crown_pages/js/daterange.js