# Config files.
.eslintrc.yml
.prettierrc.yml
.stylelintrc.yml

# Config directory.
config/

# Contrib in custom.
# web/modules/custom/module_name/**/*

# Custom modules.
# web/modules/custom/migration/*
web/modules/custom/conbiz_themer/*
web/modules/custom/gavias_pagebuilder/*
web/modules/custom/gavias_sliderlayer/*
web/modules/custom/gavias_view/*
web/modules/custom/gaviasthemer/*
web/themes/custom/conbiz/*

# Custom module YAML.
**/modules/custom/**/*.yml

# MD files
**/modules/custom/**/*.md

# Compiled files in the theme.
web/themes/custom/*/css/*

# PHP files.
**/*.php
**/*.module
**/*.inc

# Minified files.
**/*.min.js

# CSS/SCSS files (stylelint).
**/*.css
**/*.scss

# Ignore compiled files.
*.es6.js

# OS Specific.
**/__MACOSX/**