.box {
    --mask:
    radial-gradient(167.71px at 50% 225.00px,#000 99%,#0000 101%) calc(50% - 150px) 0 / 300px 100%,
    radial-gradient(167.71px at 50% -150px,#0000 99%,#000 101%) 50% 75px / 300px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.product-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
