@import './effect.css';

:root {
  --main-color: #fffcf5;
  --secondary-color: #e8d8c9;
}

/* Center the intro-farm section */
.intro-farm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Style the farm image */
.farm-image img {
  max-width: 100%;
  height: auto;
  padding: 50px;
}

/* Style the farm name */
.farm-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3cfc4;
  width: 100%;
  height: 80px;
  font-weight: bold;
  margin: 0;
  color: #333;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Style the farm description */
.farm-description {
  font-size: 16px;
  padding: 0 83px;
  color: #808d7b;
}

.featured-images {
  object-fit: cover;
  height: 250px;
}

.featured-items-link {
  text-decoration: none;
}

.featured-items:hover {
  border-color: black;
}

.top-75 {
  top: 75%;
}

.top-25 {
  top: 25%;
}

.top-60 {
  top: 60%;
}

.card {
  border-radius: 4px;
}

.top-35 {
  top: 35%;
}

.start-15 {
  left: 15%;
}

.between {
  column-gap: 12px;
}

.bottom-margin-fp {
  margin-bottom: 130px;
}

.start-11 {
  left: 11%;
}

.main-bg {
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.store-taglines > a {
  text-decoration: none;
  color: black;
}
